@model IEnumerable<TicketManagement.Models.tblaccount>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<br />

<h1>Accounts</h1>

<p>
    @using (Html.BeginForm("Index", "Accounts", FormMethod.Get))
    {
        <div class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight">
                <input type="button" class="btn btn-outline-success" value="Create New Account" onclick="location.href='https://localhost:44343/Accounts/create'" />
            </div>

            <div class="p-2 bd-highlight">
    <p class="mx-auto">
        Search: @Html.TextBox("txtsearch")
        <input type="submit" value="Filter" />
    </p>
    </div>
    </div>

}
    </p>
    <div class="position-relative">

        <table class="table table-striped">
            <tr class="table-primary">
                <th scope="row">
                    @Html.DisplayNameFor(model => model.username)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.password)
                    </th>*@
                <th scope="row">
                    @Html.DisplayNameFor(model => model.usertype)
                </th>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.status)
                </th>

                @*<th>
                        @Html.DisplayNameFor(model => model.department)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.branch)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MiddleName)*@
                <!--<-->@*/th>*@
                <th scope="row"></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="table-light">
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.password)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.usertype)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.department)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.branch)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MiddleName)
                        </td>*@
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                            <input type="submit" class="btn btn-success btn-sm" value=" Edit  " onclick="location.href='@Url.Action("Edit", new { id = item.id })'" /> &nbsp;
                            <input type="submit" class="btn btn-info btn-sm" value="Details" onclick="location.href='@Url.Action("Details", new { id = item.id })'" /> &nbsp;
                            <input type="submit" class="btn btn-danger btn-sm" value="  Delete  " onclick="location.href='@Url.Action("Delete", new { id = item.id })'" />

                            @*@Html.ActionLink("Edit", "Edit", new { id = item.id })
                                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.id })*@
                        </div>
                    </td>
                </tr>

            }
    </div>
    </table>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary">1</button>
            <button type="button" class="btn btn-secondary">2</button>
            <button type="button" class="btn btn-secondary">3</button>
            <button type="button" class="btn btn-secondary">4</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-secondary">5</button>
            <button type="button" class="btn btn-secondary">6</button>
            <button type="button" class="btn btn-secondary">7</button>
        </div>
        <div class="btn-group" role="group" aria-label="Third group">
            <button type="button" value="Alert Message" name="alertMessage" id="btnAlertMessage" class="btn btn-secondary">ALERT</button>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <script type="text/javascript">

        ////read viewbagdata
        //$(document).ready(function () {
        //    $("#btnAlertMessage").click(function () {
        //        //alert("Alert Message");
        //        swal(
        //            'Success!',
        //            'Account Added Succesfully!',
        //            'success'
        //        );
        //    });

        //});

        var msg = '@TempData["Msg"]';
        var msg1 = '@TempData["MsgEdit"]';
        var msg2 = '@TempData["MsgDelete"]';

    if (msg.length) {
        swal(
            'Success!',
            'Account Added Succesfully!',
            'success');
    }
        if (msg1.length) {
            swal(
                'Success!',
                'Account Updated! Succesfully!',
                'success');
        }
        if (msg2.length) {
            swal(
                'Success!',
                'Account Deleted Succesfully!',
                'success');

        }
    </script>