@model IEnumerable<TicketManagement.Models.tblaccount>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<br />
<h1>Accounts</h1>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm("Index", "Accounts", FormMethod.Get))
    {
    <p>
        Search: @Html.TextBox("txtsearch")
        <input type="submit" value="Filter" />
    </p>
}
    </p>
    <div class="position-relative">
        <table class="table table-striped">
            <tr class="table-primary">
                <th scope="row">
                    @Html.DisplayNameFor(model => model.username)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.password)
                    </th>*@
                <th scope="row">
                    @Html.DisplayNameFor(model => model.usertype)
                </th>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.status)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.department)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.branch)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MiddleName)*@
                <!--<-->@*/th>*@
                <th scope="row"></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="table-light">
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.password)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.usertype)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.department)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.branch)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MiddleName)
                        </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>

            }
    </div>
    </table>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary">1</button>
            <button type="button" class="btn btn-secondary">2</button>
            <button type="button" class="btn btn-secondary">3</button>
            <button type="button" class="btn btn-secondary">4</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-secondary">5</button>
            <button type="button" class="btn btn-secondary">6</button>
            <button type="button" class="btn btn-secondary">7</button>
        </div>
        <div class="btn-group" role="group" aria-label="Third group">
            <button type="button" class="btn btn-secondary">8</button>
        </div>
    </div>