@model IEnumerable<TicketManagement.Models.tblticket>

@{
    ViewBag.Title = "Index";
    if (Session["id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    if (Session["username"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    if (Session["usertype"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
<br />
<br />
<br />
<br />

<h1>Tickets</h1>

<p>
    @using (Html.BeginForm("Index", "Tickets", FormMethod.Get))
    {
        <div class="d-flex bd-highlight">

            @if (@Session["usertype"].ToString() == "User")
            {
                <div class="p-2 flex-grow-1 bd-highlight">
                    <input type="button" class="btn btn-outline-success" value="Create New Ticket" onclick="location.href='https://localhost:44343/Tickets/create'" />
                </div>

            }

            <div class="p-2 bd-highlight">
    <p class="mx-auto">
        Search: @Html.TextBox("txtsearch")
        <input type="submit" value="Filter" />
    </p>
    </div>
    </div>

}
    </p>
    <div class="position-relative">

        <table class="table table-striped">
            <tr class="table-primary">
                <th scope="row">
                    @Html.DisplayNameFor(model => model.TicketNumber)
                </th>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.Problem)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Details)
                    </th>*@
                <th scope="row">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.Time)
                </th>

                @*<th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AssignedTo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApprovedBy)
                    </th>*@
                <th scope="row"></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="table-light">
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Problem)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Details)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>

                    @*<td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssignedTo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApprovedBy)
                        </td>*@
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                            @*<input type="submit" class="btn btn-success btn-sm" value=" Edit  " onclick="location.href='@Url.Action("Edit", new { id = item.TicketId })'" /> &nbsp;*@

                            @if (@Session["usertype"].ToString() == "Administrator")
                            {

                                <button class="btn btn-info btn-sm">
                                    <a href="javascript:void(0);" class="anchorDetail" data-id="@item.TicketId" style="color:white">Details</a>
                                </button>
                                @*<input type="submit" class="btn btn-info btn-sm" value="Details" onclick="location.href='@Url.Action("Details", new { id = item.TicketId })'" /> &nbsp;*@
                                <text>&nbsp;</text>

                                <div>
                                    <button class="btn btn-dark btn-sm">
                                        <a href="javascript:void(0);" class="anchorAssign" data-id="@item.TicketId" style="color:white">Assign </a>
                                    </button>
                                </div>
                                <text>&nbsp;</text>
                                <div>
                                    <button class="btn btn-success btn-sm">
                                        <a href="javascript:void(0);" class="anchorApproved" data-id="@item.TicketId" style="color:white">Approved </a>
                                    </button>
                                </div>
                                <text>&nbsp;</text>
                                <input type="submit" class="btn btn-danger btn-sm" value="  Delete  " onclick="location.href='@Url.Action("Delete", new { id = item.TicketId })'" />

                            }

                            @if (@Session["usertype"].ToString() == "Technical")
                            {
                                <div>
                                    <button class="btn btn-success btn-sm">
                                        <a href="javascript:void(0);" class="anchorComplete" data-id="@item.TicketId" style="color:white">Complete </a>
                                    </button>
                                </div>
                                <text>&nbsp;</text>
                                <button class="btn btn-info btn-sm">
                                    <a href="javascript:void(0);" class="anchorDetail" data-id="@item.TicketId" style="color:white">Details</a>
                                </button>
                            }

                            @if (@Session["usertype"].ToString() == "User")
                            {

                                <text>&nbsp;</text>

                            }
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>

    <div id='myModal' class='modal'>
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div id='myModalContent'>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary">1</button>
            <button type="button" class="btn btn-secondary">2</button>
            <button type="button" class="btn btn-secondary">3</button>
            <button type="button" class="btn btn-secondary">4</button>
            <button type="button" class="btn btn-secondary">5</button>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <script type="text/javascript">

        var msg = '@TempData["Msg"]';
        var msg1 = '@TempData["MsgEdit"]';
        var msg2 = '@TempData["MsgDelete"]';
        var msg3 = '@TempData["MsgAssign"]';

    if (msg.length) {
        swal(
            'Success!',
            'Ticket Added Succesfully!',
            'success');
    }
        if (msg1.length) {
            swal(
                'Success!',
                'Ticket Updated! Succesfully!',
                'success');
        }
        if (msg2.length) {
            swal(
                'Success!',
                'Ticket Deleted Succesfully!',
                'success');

            }
            if (msg3.length) {
                swal(
                    'Success!',
                    'Ticket Assign Succesfully!',
                    'success');

            }
    </script>

    @section scripts
{
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>

        <script>

            var TeamDetailPostBackURLDetails = '/Tickets/Details';
            var TeamDetailPostBackURLAssign = '/Tickets/Assigned';
            var TeamDetailPostBackURLApproved = '/Tickets/Approved';
            var TeamDetailPostBackURLComplete = '/Tickets/Complete';

            $(function () {
                $(".anchorAssign").click(function () {
                    debugger;
                    var $buttonClicked = $(this);
                    var id = $buttonClicked.attr('data-id');
                    var options = { "backdrop": "static", keyboard: true };

                    $.ajax({
                        type: "GET",
                        url: TeamDetailPostBackURLAssign,
                        contentType: "application/json; charset=utf-8",
                        data: { "Id": id },
                        datatype: "json",
                        success: function (data) {
                            debugger;
                            $('#myModalContent').html(data);
                            $('#myModal').modal(options);
                            $('#myModal').modal('show');
                        },

                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });

                $("#closbtn").click(function () {
                    $('#myModal').modal('hide');
                });
            });

            $(function () {
                $(".anchorDetail").click(function () {
                    debugger;
                    var $buttonClicked = $(this);
                    var id = $buttonClicked.attr('data-id');
                    var options = { "backdrop": "static", keyboard: true };

                    $.ajax({
                        type: "GET",
                        url: TeamDetailPostBackURLDetails,
                        contentType: "application/json; charset=utf-8",
                        data: { "Id": id },
                        datatype: "json",
                        success: function (data) {
                            debugger;
                            $('#myModalContent').html(data);
                            $('#myModal').modal(options);
                            $('#myModal').modal('show');
                        },

                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });

                $("#closbtn").click(function () {
                    $('#myModal').modal('hide');
                });
            });

            $(function () {
                $(".anchorApproved").click(function () {
                    debugger;
                    var $buttonClicked = $(this);
                    var id = $buttonClicked.attr('data-id');
                    var options = { "backdrop": "static", keyboard: true };

                    $.ajax({
                        type: "GET",
                        url: TeamDetailPostBackURLApproved,
                        contentType: "application/json; charset=utf-8",
                        data: { "Id": id },
                        datatype: "json",
                        success: function (data) {
                            debugger;
                            $('#myModalContent').html(data);
                            $('#myModal').modal(options);
                            $('#myModal').modal('show');
                        },

                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });

                $("#closbtn").click(function () {
                    $('#myModal').modal('hide');
                });
            });

            $(function () {
                $(".anchorComplete").click(function () {
                    debugger;
                    var $buttonClicked = $(this);
                    var id = $buttonClicked.attr('data-id');
                    var options = { "backdrop": "static", keyboard: true };

                    $.ajax({
                        type: "GET",
                        url: TeamDetailPostBackURLComplete,
                        contentType: "application/json; charset=utf-8",
                        data: { "Id": id },
                        datatype: "json",
                        success: function (data) {
                            debugger;
                            $('#myModalContent').html(data);
                            $('#myModal').modal(options);
                            $('#myModal').modal('show');
                        },

                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });

                $("#closbtn").click(function () {
                    $('#myModal').modal('hide');
                });
            });

            
        </script>

    }