@model TicketManagement.Models.tblequipment

@{
    ViewBag.Title = "Details";
}

<br />
<br />
<br />
<br />
<h2>Equipment Details</h2>
<hr />
<div>

    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AssetNumber)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AssetNumber)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.YearModel)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.YearModel)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Branch)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.EquipmentStatus)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EquipmentStatus)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.equipId }) |
    @Html.ActionLink("Back to List", "Index")
</p>